<html lang="en">
   <head>
    <title>editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>

		  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

		  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">


		  <style>
			
			button{
				height: 40px;
				width: 80px;
			}

			label{
				color:blue;
			}
		

		</style>


   <body>

<div class="">
	<form action="/" method="POST" style="margin-top:10px;" id="form-submit">
		<div class="form-group"> 
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label for="html">HTML</label>
					<textarea class="form-control" rows="15" type="text" placeholder="start writing html here" name="html"><%=html%></textarea>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label for="css">CSS</label>
					<textarea class="form-control" rows="15" placeholder="start writing css here" name="css"><%=css%></textarea>
						
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<label for="javascript">JAVASCRIPT</label>
					<textarea class="form-control" rows="15" placeholder="start writing javascript here" name="javascript"><%=javascript%></textarea>
				</div>
			</div>
			
		
		
		<button class="btn btn-primary" type="submit">run</button>

		</div>
	</form>
</div>
<div class="editor">
	<style><%-css%></style>
	<%-html%>
</div>
<script><%-javascript%></script>
<!-- <script src="/ajax.js"></script>
 -->





